/* ==========================================================================
   Media Queries
   ========================================================================== */


@media only screen and (min-width: 992px) {
    /****Ipad Landscape 1024 Container 970 ****/

    .c-logo-part ul li{ margin:0 15px;}
    .form{ margin:0 0 0 20px}
    .main-nav{ display:block !important; }
    descripcion{   
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;

        -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        column-gap: 30px;
    }

}	

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /****Ipad Portrait 768 Container 750 ****/
    body{ font-size:13px;}
    p{ line-height:20px ;}
    .header{padding:100px 0 150px;}
    .header h1{ font-size:46px;}
    .main-nav ul li a{ padding:14px;}
    .small-logo{ padding:0 20px;}
    h2{ font-size:30px}
    h6{ font-size:16px;}
    h3{ font-size:15px;}

    .main-section{ padding:40px 40px;}
    .c-logo-part ul li{ margin:0 0; float:left; width:18%;}
    .c-logo-part ul li a{ display:block;}
    .c-logo-part ul li a img{ display:block;}
    .form{ margin:0;}
    .contact-info-box{ margin:0 ;}
    .social-link{ margin:0;}
    .contactpart{border-bottom: #204d74; border-width: 0 0 2px 0; border-style: none none solid none; padding-bottom: 60px;}
    .paypal{margin:60px 10%;}
    .descripcion{font-size: 14px; padding-bottom: 20px;}

    .main-nav{ display:block; }
    .main-nav li a{ padding:8px 1.5%; margin:17px 0;}

    .slime {display: block;}
    .goat {display: block; animation: none;}
}

@media only screen and (max-width: 769px) {
    /****Mobile Landscape 480 Container 100% ****/
    body{ font-size:12px;}
    h2{ font-size:26px;}
    h3{ font-size:14px;}
    h6{ font-size:16px; margin-bottom:40px;}
    p{ line-height:18px;}

    .pc {display: none;}
    .mobile {display: block;}

    .main-nav{ display:none; }
    .main-nav-outer{display: block;}
    .main-nav li{ display:list-item; text-align: left; width: initial;}
    .main-nav li.small-logo{ display:none;}
    .main-nav li a{ display:block; padding:7px 32px; border-bottom:none;}
    .main-nav li a:hover{color:#204d74}

    .header h1{ font-size:28px; margin: 10px 10%;text-align: left;}
    .header{ padding:60px 00px;}
    .header .companion {display: none;}
    
    .logo{width: 90%; margin:5% 5% 0;}
    .hlogo{ padding: 0px;}
    .hlogo h2{ margin-left: 5%;}
    .hod-icon { bottom: 20%; left: 20%; width: 70%;}

    .main-section{ padding:0px 0px; margin: 20px 0px 20px; height: auto;}

    .about-section .companion {margin-right: 0px; height: auto;}
    .about-section .main-panel {padding: 20px 5%; height: auto;}
    .team-gallery {display: block; margin: 30px 0px;}
    .team-member {width: 80%; margin-bottom: 20px;}
    .team-photo {filter: grayscale(0%);}

    .logo-blue {display: none;}

    .games-section .title {height: 110px;}
    .hod-row {margin: 0px;}
    .hod {height: 560px;}
    .hod .promo {max-width: 100%; right: 0%;}
    .hod .logo {margin: 10px 0px; left: 0}
    .hod .steam {width: 35%; bottom: 50%; left: 10%;}
    .hod .trailer {width: 35%; bottom: 50%; left: 55%;}

    .community-section .row {margin: 0px;}
    .social-icons a { margin:10px; }
    .social-icons img { height: 100px; padding: 10px;}

    .contact-main {padding: 0px 40px;}
    .contact-main .mail {filter: grayscale(0%); margin:0px;}
    .contact-main .mail:hover {background-color: #000;}
    .contact-main .description {margin: 20px 0px 0px;}
    .contact-main .clipboard {font-size: large;}
    .contact-section .companion {margin-left:0px} 

    .description {text-align: center;}

    .carousel-mask {height: 200px;}
    .carousel-mask br {display: none;}
    .carousel-track {flex-direction: row; animation: scroll-horizontal 10s linear infinite;}

    .carousel-thanks-mask {height: 200px;}
    .carousel-thanks-mask br {display: none;}
    .carousel-thanks-track {flex-direction: row; animation: scroll-horizontal 10s linear infinite;}
    
    .slime {display: none;}
    .goat {display: none; animation: none;}

    .footer-logo img {max-height: 100px;}
}

@media only screen and (max-width: 479px) {
    /****Mobile Portrait 320 ****/
    .contact-info-box{ margin-left:0px;}
    .header{ padding:10% 0 100%; text-align: left; margin:10px;}
    .header h1{font-size: 22px; margin:0;}

    .pixel-borders{border: 0px solid #000; clip-path: none;}

    .form{ margin:0}
    .c-logo-part div ul li{margin:0 0;}
    .Portfolio-box{  max-width:300px !important; width:96.4% !important; margin:0 !important}
    .Portfolio-box img { max-width:100%;}
    .portfolioContainer{ width:280px !important; margin:0 auto !important } 

    .main-nav-outer{display: none;}
    .client-part-haead{margin:5px 0 5px;}
    .list{margin:0 0 60px;}
    .team-leader-box{margin: 0 0 0 5%; height: 270px;}
    /*.team-leader-box:nth-of-type(6n+0){margin:0 0 0 5%;}*/
    .newsletter .contactForm{text-align: center;}
    .newslettermail{height: 50px; font-size: 18px; width: 100%; margin-bottom: 25px;}
    .suscripcion{height: 50px; font-size: 18px; width: 40%; margin:0 30%;}
    .contact-info-box {font-size: large;}
    .c-logo-part ul li a img {width: 80%;}
    .thanks a {margin:10px 0;}
    .descripcion{-webkit-column-count:1; -moz-column-count:1; column-count:1;}
    .back-to-top{display: none;}
}